.day-cell {
  display: inline-block;
  width: 3rem;
  height: 3rem;

  text-align: center;
}
.wraper {
  display: flex;
  justify-content: space-between;
}
.current-day {
  padding-bottom: 3px;
  color: red;
  border: 3px solid red;
  border-radius: 50%;
}
.article {
  height: 450px;
  font-size: 1.5rem;
  background-color: #fff;
}
.btn {
  width: 4rem;
  font-size: 2rem;
  border: 0;
  background-color: #fff;
}
.date {
  color: aquamarine;
}
.empty-day {
  color: transparent;
  user-select: none;
}
